<div *ngIf="user">
  <div class = "panel panel-default">
    <div class="uk-panel-heading">
      {{user.name }} <small>{{user.login}}</small>
    </div>
  </div>
  <div class = "panel-body">
    <div class = "row">
      <div class= "col-sm-3">
        <img src="{{user.avatar_url}}" class= "img-responsive" alt = "profile image">
      </div>
      <div class = "col-sm-5">
        <ul class = "list-group">
          <li class = "list-group-item">  </li>
        </ul>
        <div class="panel panel-default">
          <div class="uk-panel-heading">
            <h3 class="panell-title">Repositories</h3>
          </div>
           <div class="panel-body" *ngFor= "let repo of repos">
            <p class = "clearfix">
              {{repo.name}} <a href = "{{repo.html_url}}" target ="_blank"class="btn btn-sm btn-success">View this in github</a>
            </p>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
