
<div class = "container-fluid">
  <app-form (emitSearch)="getUserInfo($event)" (emitRepo)="getRepos($event)"></app-form>
<div *ngIf="user">
  <div class = "panel panel-default">
    <div class="uk-panel-heading">
      <h2>{{user.username }}</h2>
      <small>{{user.login}}</small>
    </div>
  </div>
  <div class = "panel-body">
    <div class = "row">
      <div class= "col-sm-5">
        <img src="{{user.avatar_url}}" class= "img-responsive" alt = "profile image">
      </div>
      <div class = "col-sm-5">
        <!-- <ul class = "list-group">
          <li class = "list-group-item">  </li>
        </!-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Repositories</h3>
          </div>
           <div class="panel-body" *ngFor = "let repo of repos">
              <p class = "clearfix">
                {{repo.name}}<a href = "{{repo.html_url}}" target ="_blank"class="btn btn-sm btn-info">View this in github</a>
            </p>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

